    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #2b2a57;
      color: aliceblue;
      position: sticky;
        top: 0;
        overflow: hidden;
        height: 100vh;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #f5f3f8;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    .DP { 
        background: url(1704716525467.jpg) 60% 18% no-repeat;
        width: 250px;
        height: 255px;
        border: 2px solid;
      }
    .p-i-table td{
        padding: 15px;
    }  
    .edu-table td, th{
        padding: 15px;
    }
    .btn-group .skill-button {
        background-color: #2b2a57; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        float: left;
      }
      .btn-group .skill-button:hover {
        background-color: #7d7aa7;
        color:black;
      }
      .btn-group .skill-button:focus {
        background-color: #ffffff;
        color:black;
      }
      img.logo {
        height: 50px;
        width: 50px;
      }
      